<h3>Table domains</h3>
<table id="table-domains">
<tr class="header">
    <th>#</th>
    <th>id</th>
    <th>Host</th>
    <th>Port</th>
    <th>Status</th>
    <th>Flags</th>
</tr>
<tr id="template-raw-domains" class="domains-raw template">
    <td class="cell-num">template</td>
    <td class="cell-id">template</td>
    <td class="cell-host">template</td>
    <td class="cell-port">template</td> 
    <td class="cell-status">template</td>
    <td class="cell-flags">template</td>
</tr>
</table>

