@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="~/lib/signalr/signalr.js"></script>


<div class="text-center">
    <h1 class="display-4">Welcome111sss1</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
<button onclick="sayHello()">
    Refresh
</button>
</div>
<div>
    @await Component.InvokeAsync("ComponentTableDomains")
</div>
<br/>
<ComponentTable Variable = "this is variable 2003"/>
<div>
    @await Component.InvokeAsync("ComponentTableConnections")
</div>

<script>
     function sayHello()
     {
        console.log("Pressed Button");
     }
</script>

