<h1>Compare Wiindow Component</h1>
<div id="compare-window" class="">
    <div id="compre-window-left">
        this is left
    </div>
    <div id="compre-window-left">
        this is right
    </div>
</div>