<h3>Table connections</h3>
<table id="table-connections">
<tr class="header">
    <th>#</th>
    <th>id</th>
    <th>Host</th>
    <th>Port</th>
    <th>Status</th>
    <th>Version</th>
</tr>
<tr id="template-raw" class="connection-raw template">
    <td class="cell-num">template</td>
    <td class="cell-id">template</td>
    <td class="cell-host">template</td>
    <td class="cell-port">template</td> 
    <td class="cell-status">template</td>
    <td class="cell-version">template</td>
</tr>
</table>

